build/

CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
Makefile
CTestTestfile.cmake

bin/
lib/
*.a
*.o
*.so
*.out

programme
test_particule
test_univers
test_vector


_deps/


gmon.out
*.dSYM/


.DS_Store
.vscode/
.idea/